nav {
  position: fixed;
  width: 100%;
  user-select: none;
  background: linear-gradient(to right, #530808, #a90b0b);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  z-index: 9999;
}
nav .logo {
  display: block;
  align-self: center;
  height: 3rem;
  padding: 0.7rem;
  animation: rotate 15s linear infinite;
  border-radius: 100%;
  transition: all 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  nav .logo:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
nav .nav-links {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav .nav-links li {
  font-size: 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.2s ease;
}
@media (hover: hover) and (pointer: fine) {
  nav .nav-links li:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    font-size: 1.6rem;
  }
}
nav .nav-links li:active {
  background: rgba(255, 255, 255, 0.2);
  font-size: 1.55rem;
}
nav .nav-links .selected {
  box-shadow: 0px 5px 5px -2.5px white;
}
nav .burger-button {
  display: none;
  align-self: center;
  margin-right: 1.5rem;
}
nav .selected-menu {
  display: none;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
}
@media only screen and (max-width: 750px) {
  nav .nav-links li {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 750px) and (hover: hover) and (pointer: fine) {
  nav .nav-links li:hover {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 750px) {
  nav .nav-links li:active {
    font-size: 1.35rem;
  }
}
@media only screen and (max-width: 650px) {
  nav .nav-links {
    display: none;
  }
  nav .burger-button {
    display: block;
  }
  nav .selected-menu {
    display: block;
  }
}
@media only screen and (max-width: 450px) {
  nav .selected-menu {
    font-size: 1.2rem;
  }
  nav .logo {
    height: 2.5rem;
  }
}

.menu {
  position: fixed;
  top: 60px;
  right: 0px;
  width: 60%;
  background: rgba(100, 0, 0, 0.6);
  backdrop-filter: blur(15px);
  border-bottom-left-radius: 3rem;
  transform: translateX(100%);
  display: flex;
  justify-content: center;
  overflow: hidden;
  z-index: 9998;
}
.menu .nav-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2rem;
  text-align: center;
  list-style: none;
}
.menu .nav-links li {
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 20px;
  transition: all 0.4s ease;
  box-shadow: 0px 5px 5px -2.5px white;
}
@media (hover: hover) and (pointer: fine) {
  .menu .nav-links li:hover {
    cursor: pointer;
    box-shadow: 0 0 15px 1.5px white;
  }
}
.menu .nav-links li:active {
  background: rgba(255, 255, 255, 0.4);
}

a {
  text-decoration: none;
  color: white;
}

.menu-opened {
  animation: menu-open 0.3s ease-in;
  animation-iteration-count: 1;
  transform: translateX(0%);
}

.menu-closed {
  animation: menu-close 0.3s ease-in;
  animation-iteration-count: 1;
  transform: translateX(100%);
}

@keyframes menu-open {
  from {
    transform: translateX(100%);
    border-bottom-left-radius: 30rem;
  }
  to {
    transform: translateX(0%);
    border-bottom-left-radius: 3rem;
  }
}
@keyframes menu-close {
  from {
    transform: translateX(0%);
    border-bottom-left-radius: 3rem;
  }
  to {
    transform: translateX(100%);
    border-bottom-left-radius: 30rem;
  }
}
@media only screen and (min-width: 650px) {
  .menu {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .menu {
    width: 70%;
  }
}
@media only screen and (max-width: 450px) {
  .menu {
    width: 80%;
  }
}

/*# sourceMappingURL=Nav.css.map */
