.card-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;

   .main-title {
      width: 100%;
      margin: 2rem 0 0.5rem 0;
      font-size: 2rem;
      text-align: center;
      text-shadow: 0 2px 12px black;
   }
   .card {
      width: 25%;
      max-width: 300px;
      min-width: 250px;
      margin: 1.5rem;
      padding: 2rem;
      text-align: center;
      border-radius: 1rem;
      box-shadow: 0 0 15px 10px rgba(0, 0, 0, 0.1);
      // background: linear-gradient(45deg, rgba(255, 255, 255, 0.8), rgba(120, 120, 120, 0.8));
      // background: linear-gradient(45deg, rgb(195 193 193), rgb(123 33 29));
      background: linear-gradient(45deg, #ba9595, #872d28);
      // color: rgb(60, 60, 60);
      transition: all 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h3 {
         font-size: 2rem;
         border-radius: 0.5rem;
         margin-top: 2rem;
      }
      .line {
         height: 2px;
         width: 100%;
         // background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.4), transparent);
         background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.4), transparent);
      }
      p {
         font-size: 1.5rem;
         margin-bottom: .5rem;
      }

      @media (hover: hover) and (pointer: fine) {
         &:hover {
            transform: scale(1.02);
         }
      }
   }
}